BD-Automation-Engine/n8n/Error Logging.json
{
  "name": "Error Logging",
  "nodes": [
    {
      "parameters": {},
      "id": "b8f25342-97db-4c26-8415-44dff66be34b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        672,
        1840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"A waffle personified as a human. The waffle is wearing a suit and tie.\",\n        \"width\": 540, \n        \"height\": 960\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        3376
      ],
      "id": "2f6fef0d-4e89-4139-ab1f-bb18e2e849aa",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        3376
      ],
      "id": "07608c02-49b2-49da-b1ea-dbb795adeede",
      "name": "Get Images"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b18d8c25-c1a1-4583-b75c-3ebad98b212a",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        3376
      ],
      "id": "a3a23f7d-0d67-4b2f-91d8-83262ba41fe1",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        3376
      ],
      "id": "b051415a-1b98-4b78-9f3f-ee3d6eb0018b",
      "name": "Wait",
      "webhookId": "7ab54d36-3c1b-4dda-92ce-f4bf1879c15d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        3440
      ],
      "id": "9cdbd0a0-94f5-40fd-9278-cb6ede8492a3",
      "name": "Wait1",
      "webhookId": "33adf426-612c-4780-9d92-78bc428a9244"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f7a5a6a-d14e-4e29-b81e-30e24a059c38",
              "name": "query",
              "value": "\"pineapples on pizza\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        3824
      ],
      "id": "b3c14c41-1aa8-47c8-b1cf-3ed9519f8d93",
      "name": "Set"
    },
    {
      "parameters": {
        "content": "# Production Ready Error Handling\n**Author: [Nate Herk](https://www.youtube.com/@nateherk)**\n\n## Errors that...\n### - Send notifications\n### - Are logged\n### - Have retry/fallback logic\n### - Fail safely\n\n\n\n## 1) Error Workflow\n## 2) Retry on Failure\n## 3) Fallback LLM\n## 4) Continue on Error\n## 5) Polling\n\n## 🎁 Bonus: Building Guardrails",
        "height": 608,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "100039fd-c723-48d4-8863-4fe51d464fe0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Output array of companies\nconst items = [\n  { json: { value: \"google\" } },\n  { json: { value: \"meta\" } },\n  { json: { value: '\"nvidia\"' } }\n];\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1840
      ],
      "id": "4569f823-42e9-4d01-b130-ba1fde413918",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a536994e-735f-4d70-92d8-4b8cf3f61cab",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        1840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00873281-b8c8-400e-8385-e5fd5e35ae9d",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "886bddb3-bf2f-43b9-bf40-aac73901fa17",
      "name": "Example",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        1728
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tavilyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.query.replace(/\"/g, '') }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        3824
      ],
      "id": "9f1ceba2-ff72-4c55-92a7-a190178558f1",
      "name": "Tavily 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tavilyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.value }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        1952
      ],
      "id": "e3baa32f-21e6-44b7-8fab-d437f48da8c2",
      "name": "Tavily"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        704,
        416
      ],
      "id": "bd61a853-9911-43b7-8bd3-f712cd9d9779",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        736,
        128
      ],
      "id": "fc963a5c-033d-465d-bd7d-331f8ec7814b",
      "name": "Bad Agent"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1136,
        144
      ],
      "id": "2fcd1367-cf70-4172-81b0-4c280d415948",
      "name": "Get a record in Airtable"
    },
    {
      "parameters": {
        "content": "# 1) Error Workflow - [Full video](https://youtu.be/bTF3tACqPRU?si=Z0-Q_I9-tN4Eioim)",
        "height": 608,
        "width": 768,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "b442f9d0-a458-439e-9889-f8cd1cd7af25",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4",
          "mode": "list",
          "cachedResultName": "Error Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        960,
        336
      ],
      "id": "db4993cc-8847-4a07-8317-f905d28e0369",
      "name": "Log Error"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08L6NKQBEW",
          "mode": "list",
          "cachedResultName": "all-awesome-ai-stuff"
        },
        "text": "ERROR",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1104,
        448
      ],
      "id": "4bd5c080-7a37-4c02-91e3-583df13e21ac",
      "name": "Error Notification",
      "webhookId": "bd1df886-4a72-40b3-b884-87d460940833"
    },
    {
      "parameters": {
        "content": "# 2) Retry on Failure",
        "height": 480,
        "width": 768,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        624
      ],
      "id": "05f9fa7b-b05f-4150-9edc-a6f7dced86fd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        656,
        736
      ],
      "id": "c19e9176-a233-47c0-86d8-27dd639ec291",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        704,
        928
      ],
      "id": "a84ee5ff-5361-450d-8446-1349be3e8306",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "sendTo": "nate@example.com",
        "subject": "Test",
        "message": "Test",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1056,
        736
      ],
      "id": "383f2eb1-6e3f-4c61-a8da-834734a28c60",
      "name": "Send a message",
      "webhookId": "5c0cba63-4f51-4506-b51a-5820900b4b9c",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        912
      ],
      "id": "bb0d148b-17c1-44c8-a0da-1e5e25a1c1cd",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "http://cool.com",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        912
      ],
      "id": "1c904523-cdc5-4496-9398-676022209303",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        880,
        1264
      ],
      "id": "60459fb3-d006-44d5-b82b-a5c719f544f7",
      "name": "Fallback Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        848,
        1424
      ],
      "id": "ae7319f4-d65f-442e-ace3-69015f3811e5",
      "name": "OpenRouter"
    },
    {
      "parameters": {
        "content": "# 3) Fallback LLM",
        "height": 480,
        "width": 768,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        1120
      ],
      "id": "533bd34a-3899-4029-8911-56df930bfe98",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 4) Continue on Error",
        "height": 1568,
        "width": 912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        1616
      ],
      "id": "85c0fa6e-f7d7-4ec4-aa06-2f04904e549d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Stops Workflow",
        "height": 208,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        1888
      ],
      "id": "447c3fdb-6429-4694-bd1d-6164dcc46978",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Output array of companies\nconst items = [\n  { json: { value: \"google\" } },\n  { json: { value: \"meta\" } },\n  { json: { value: '\"nvidia\"' } }\n];\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        2320
      ],
      "id": "a1911726-f01a-4c52-be76-3ac7bf78df1d",
      "name": "Code2"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9dafb643-851c-4262-9cce-5d270b3db940",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        2320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00873281-b8c8-400e-8385-e5fd5e35ae9d",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "425af4e7-daec-4d2e-8636-acc28f082272",
      "name": "Example1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        2208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tavilyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.value }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        2432
      ],
      "id": "4793d303-9363-4b99-befb-26a78ceec3a5",
      "name": "Tavily1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Workflow Continues\n",
        "height": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        2368
      ],
      "id": "30094f65-9e0a-4abd-b3c3-a38fa382eef4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - Output array of companies\nconst items = [\n  { json: { value: \"google\" } },\n  { json: { value: \"meta\" } },\n  { json: { value: '\"nvidia\"' } }\n];\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        2800
      ],
      "id": "32c212dd-d719-42b5-a0ae-eec77643c180",
      "name": "Code3"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "faa3ece4-1c65-4e1c-9338-d4fc44967f65",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        2800
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00873281-b8c8-400e-8385-e5fd5e35ae9d",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b035c8ea-acae-479d-b2e9-dd16c16550f1",
      "name": "Example2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        2688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tavilyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.value }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        2912
      ],
      "id": "f8a89da1-0e3f-41a6-88a0-4267e17bb10c",
      "name": "Tavily2",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Good.\n",
        "height": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        2848
      ],
      "id": "c16b6a98-7bc7-4cf6-9110-7b09597740c1",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# 5) Polling",
        "height": 480,
        "width": 912,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        3200
      ],
      "id": "6a3b92df-8a24-4097-8a4d-d76732460d8d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Guardrail Example\n",
        "height": 352,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        3696
      ],
      "id": "687015d0-b78b-499f-b806-4a560e01a7b1",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        688,
        1264
      ],
      "id": "84262b55-a34c-43ee-8de3-aa2075427c7e",
      "name": "When chat message received",
      "webhookId": "5f8b5568-5968-4fd9-bb7f-3ae16f4e8bb5"
    },
    {
      "parameters": {
        "resource": "search",
        "operation": "query"
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        1296,
        3824
      ],
      "id": "cbf68134-dfa3-4a72-bccf-1caf4a6166a8",
      "name": "Search",
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        1424
      ],
      "id": "b44d42fa-3d23-4a14-b2cf-bbfe91d4c746",
      "name": "Google Gemini Chat Model"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Images": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Tavily 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Example",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record in Airtable": {
      "ai_tool": [
        [
          {
            "node": "Bad Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "Fallback Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Example1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Example2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Fallback Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fallback Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d869c16a-d200-4c64-a252-7c2a3fcc5689",
  "meta": {
    "instanceId": "2a27a1c85e3dc2186000109e6e48c628e99f58e377f77155cfdb3e70ee4f7e27"
  },
  "id": "CStCIRR1MAkI6ROe",
  "tags": []
}